<p>Hello world!</p>

<div class="flex gap-4">
    <app-card>
        <ng-container *ngTemplateOutlet="defaultTemplate; context: myContext" ngProjectAs="span">
        </ng-container>
        <ng-container *ngTemplateOutlet="customTemplate; context: myContext" ngProjectAs="span">
        </ng-container>
        <button>Click</button>
    </app-card>
</div>

<ng-template #defaultTemplate let-txt>
    <span>{{ txt }}</span>
</ng-template>

<ng-template #customTemplate let-txt="myText">
    <span>{{ txt }}</span>
</ng-template>

<router-outlet></router-outlet>
